.footer-container{
    background-color: rgb(11, 11, 11);
    padding: 10px;
}
@media screen and (min-width:576px) {
    .footer-container{
        padding: 30px;
    }
}
.hr-line-in-footer-section{
    border: 1px solid #ffffff;
    width: 100%;
}
@media screen and (max-width:575px) {
    .mobile-view-hr-line{
        display: none;
    }
}
@media screen and (max-width:575px) {
    .footer-bottm-in-mobile-view{
        display: none;
    }
}