.filter-options-section-container{
    width: 20vw;
    padding: 10px;
}
@media screen and (max-width:575px) {
    .filter-options-section-container{
        display: none;
    }
}
.input-in-filter-options{
   height: 15px;
   width: 15px;
}
.customizable-text{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}
.customize-select-container{
    display: flex;
   align-items: center;
   margin-top: 5px;
}
.hr-line-in-filter-option{
    border: 1px solid #b6b5b5;
    width: 100%;
}
.select-in-option-filter-section{
    height: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: "Roboto";
    font-weight: bold;
    outline: none;
}
.all-text-in-filter-option-section{
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 800;
}
.un-select{
    color: #b6b5b5;
    text-decoration: underline;
}
.select-men-box{
    font-weight: 200;
    color: #696868;
}